%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [debug_info,
	    warnings_as_errors,
	    warn_export_all,
	    warn_untyped_record
           ]}.
{xref_checks, [undefined_function_calls]}.
%% {cover_enabled, true}.
{validate_app_modules, true}.

{port_sources, ["c_src/*.c"]}.
{so_name, "jsonx.so"}.
{port_envs,
    [ {"DRV_CFLAGS", "-Wall -fPIC -O2 $ERL_CFLAGS"}
    ]}.
%% {so_specs, [
%% 	    {"priv/jsonx.so",["c_src/jsonx.o", "c_src/decoder.o, "c_src/encoder.o"]} 
%% 	   ]}.
